*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(45, 2, 113);
}
.container{
    border: 6px dotted rgb(251, 252, 252);
    border-radius: 40px;
    height: 500px;
    width: 55%;
    display:flex;
    flex-wrap: wrap;
    position: relative;
    top:80px;
    justify-items: center;
}
.containers{
    height: 500px;
    width: 47%;
    position: relative;
    left: 2%;
    
}
#container1{
    border-right: 4px dotted rgb(250, 253, 253);;
}
.box{
    border: 2px solid black;
    height: 100px;
    margin:17px;
    background-color: rgb(249, 126, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: grab;
}